__pycache__/
*.py[cod]
*$py.class
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.env
node_modules/
target/
*.class
*.jar
模型接口/裂纹识别接口/checkpoints/DeepCrack_CT260_FT1.pth
模型接口/裂纹识别接口/checkpoints/__epoch(12)_0000279_2024-05-06-10-48-32.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/_Auto_Save_Model_0000061_2024-05-25-22-40-37.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/_Auto_Save_Model_0000072_2024-05-27-08-56-09.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000029_2024-05-25-03-27-38.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000039_2024-05-25-14-24-00.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000050_2024-05-25-17-15-54.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000060_2024-05-25-20-40-55.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000071_2024-05-26-03-36-09.pth
模型接口/裂纹识别接口/checkpoints/checkpoints/__epoch(9)_0000082_2024-05-27-11-27-29.pth
