<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.magnesium_alloy_platform.mapper.PSOBP_HistoryMapper">
    <!-- 根据 ID 列表删除记录 -->
    <delete id="deleteByIds">
        DELETE FROM psobp_history WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
